<!DOCTYPE html>
<head>
  <title>Shrink Link</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Shrink Link</h1>
  <form method="post" action="/">
    <input type="text" name="url" placeholder="Feed me a URL, please.">
    <input type="submit">
  </form>
  <div class="receivedData">
  <%= data %>
  </div>
</body>