<!DOCTYPE html>
<head>
  <title>Shrink Link</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Shrink Link</h1>
  <div class="copy">
  	<p> Here we go! Just grab the urlOutput, paste it at the end of https://shrink-link.herokuapp.com/ and you'll be taken right to there.
  <div class="receivedData">
  <label for="basic-url">Link:</label>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">https://shrink-link.herokuapp.com/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>
  <%- JSON.stringify(data); -%>
  </div>
</body>