<!DOCTYPE html>
<head>
  <title>Shrink Link</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <a class="btn" href="https://shrink-link.herokuapp.com/"><h1>Shrink Link</h1></a>
  <div class="formDiv">
  	<p> Here we go! Just grab the output beneath and use this whenever you want some redirection magic, and you'll be taken right there.
  <div class="receivedData">
  <label for="basic-url">Your link: <%-urlInput -%></label>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3"><a href="https://shrink-link.herokuapp.com/<%- urlOutput -%>">https://shrink-link.herokuapp.com/<%- urlOutput -%></a></span>
</div>
  </div>
</body>