<!DOCTYPE html>
<head>
  <title>Shrink Link</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
<a class="btn" href="https://shrink-link.herokuapp.com/"><h1>Shrink Link</h1></a>
<div class="row formDiv">
  <p> Hey, sorry, we couldn't find that link. Why don't you head back and we can try again </p>
  </div>
  </div>
</body>