<!DOCTYPE html>
<head>
  <title>Shrink Link</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="sorry">
  <p> Hey, sorry, we couldn't find that link. Why don't you head back and we can try again </p>
  <a class="btn" href="https://shrink-link.herokuapp.com/">Shrink Link</a>
</body>