<!DOCTYPE html>
<head>
  <title>Shrink Link</title>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="titleBar container">
<a class="" href="https://shrink-link.herokuapp.com/"><h1>Shrink Link</h1></a>
<a class="me" href="http://www.scottgangemi.com">
  <h4> Scott Gangemi </h4>
  </a>
</div>
<div class="pDiv">
  <p> Hey, sorry, we couldn't find that link. Why don't you head back and we can try again </p>
  </div>
  </div>
</body>